node_modules
.env
.env.*
!.env.example
!.env.base.example
!.env.base-sepolia.example
coverage
coverage.json
typechain
typechain-types

# Hardhat files
abi
cache
artifacts

# Foundry files
out
broadcast
crytic-export

# deployments
deployments

# OpenZeppelin
.openzeppelin/unknown-*.json

# misc
*.log
*.diff

# profiles
profiles/

# anvil state
.anvil
