node_modules
.env
.env.*
!.env.example
coverage
coverage.json
typechain
typechain-types

# Hardhat files
abi
cache
artifacts

# deployments
deployments

# OpenZeppelin
.openzeppelin/unknown-*.json

# misc
*.log
*.diff
